/* TODO: https://www.youtube.com/watch?v=B2WL6KkqhLQ */

.main {
  margin: 1.2em;
}

.product-card__content {
  padding: 2em;
  background-color: var(--white);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  display: flex;
  flex-direction: column;
}

.product-card__img {
  width: 100%;
  display: block;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  object-fit: cover;
}

.product-card__category {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 0.9rem;
  color: var(--dark-grayish-blue);
}

.product-card__description {
  line-height: 24px;
}

.product-card__prices {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.product-card__discount {
  color: var(--dark-cyan);
}

.product-card__price {
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  padding-left: 1em;
  text-decoration: line-through;
}

.product-card__title {
  padding-top: 0.5em;
  font-size: 33px;
  font-weight: 700;
  line-height: 32px;
}

.product-card__btn > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__btn img {
  padding-right: 0.75em;
}

@media (min-width: 1024px) {
  .product-card {
    width: 615px;
    display: flex;
    flex-direction: row;
  }

  .main {
    margin: auto;
  }

  .product-card__prices {
    margin-bottom: 2em;
  }

  .product-card__title {
    padding-bottom: 0.5em;
  }

  .product-card__img,
  .product-card__content {
    flex-basis: 50%;
  }

  .product-card__img {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  .product-card__content {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}
